<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with LeadMark landing page.">
    <meta name="author" content="Devcrud">
    <title>About Us</title>
    <!-- font icons -->
    <link rel="stylesheet" href="~/css/About/assets/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + LeadMark main styles -->
    <link rel="stylesheet" href="~/css/About/assets/css/leadmark.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- page Navigation -->
    <!-- End Of Second Navigation -->
    <!-- Page Header -->
    <header class="header">
        <div class="overlay">
            <h1 class="subtitle"></h1>
            <h1 class="title">About Us</h1>
        </div>
        <div class="shape">
            <svg viewBox="0 0 1500 200">
                <path d="m 0,240 h 1500.4828 v -71.92164 c 0,0 -286.2763,-81.79324 -743.19024,-81.79324 C 300.37862,86.28512 0,168.07836 0,168.07836 Z" />
            </svg>
        </div>
        <div class="mouseicon"><div class="wheel"></div></div>
    </header>
    <!-- End Of Page Header -->
    <!-- Testmonial Section -->
    <section class="section" id="testmonial">
        <div class="container">
            <h6 class="section-title text-center mb-0">Who Are We?</h6>
            <h6 class="section-subtitle mb-5 text-center">Group Members</h6>
            <div class="row">
                <div class="col-md-4 my-3 my-md-0">
                    <div class="card">
                        <div class="card-body">
                            <div class="media align-items-center mb-3">
                                <img class="mr-3" src="~/css/About/assets/imgs/avatar.jpg" alt="">
                                <div class="media-body">
                                    <h6 class="mt-1 mb-0">Leul Melaku </h6>
                                    <small class="text-muted mb-0">DRB2002</small>
                                </div>
                            </div>
                            <p class="mb-0"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-3 my-md-0">
                    <div class="card">
                        <div class="card-body">
                            <div class="media align-items-center mb-3">

                                <div class="media-body">
                                    <h6 class="mt-1 mb-0">Messay Mohammed</h6>
                                    <small class="text-muted mb-0">DRB2002</small>
                                </div>
                            </div>
                            <p class="mb-0"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-3 my-md-0">
                    <div class="card">
                        <div class="card-body">
                            <div class="media align-items-center mb-3">

                                <div class="media-body">
                                    <h6 class="mt-1 mb-0">Mikiyas Solomon</h6>
                                    <small class="text-muted mb-0">DRB2002</small>
                                </div>
                            </div>
                            <p class="mb-0"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-3 my-md-0">
                    <div class="card">
                        <div class="card-body">
                            <div class="media align-items-center mb-3">

                                <div class="media-body">
                                    <h6 class="mt-1 mb-0">Seife</h6>
                                    <small class="text-muted mb-0">DRB2002</small>
                                </div>
                            </div>
                            <p class="mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Testmonial Section -->
    <!-- Contact Section -->
    <section id="contact" class="section has-img-bg pb-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 my-3">
                    <h6 class="mb-0">Phone</h6>
                    <p class="mb-4">+251-911-223-344</p>

                    <h6 class="mb-0">Address</h6>
                    <p class="mb-4">24 kebele Addis Ababa, Ethiopia</p>

                    <h6 class="mb-0">Email</h6>
                    <p class="mb-0">ALAHOTEL@net.org</p>
                    <p></p>
                </div>
                <div class="col-md-7">
                    <form>
                        <h4 class="mb-4"></h4>
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                <h2>What we do</h2>
                                <p>ALA Hotel is a customer service provider that has the capability to provide the best customer support. 24/7 356 weeks</p>
                            </div>
                            <div class="form-group col-sm-4">
                                <h2>Vision</h2>
                                <p>As a service provider, we would like to expand our customer support and franchise around Addis Ababa, and other cities like Chombolcha and Gonder</p>
                            </div>
                            <div class="form-group col-sm-4">
                                <h2>Ambition</h2>
                                <p>ALA Hotel is dedicated to bring change in the Hotel service industry by using softwares buillt like this, that's us btw. And to expand the industry around Ethiopia</p>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <!-- Page Footer -->
            <footer class="mt-5 py-4 border-top border-secondary">
                <p class="mb-0 small">&copy; ALA Hotel</p>
                <div class="flt" style="float: right;">
                    <img class="links" src="~/css/About/Image/hs.png" usemap="#image-map" />

                    <map name="image-map">
                        <area target="_blank"
                              alt="facebook"
                              title="facebook"
                              href="https://www.facebook.com/"
                              coords="50,46,26"
                              shape="circle" />
                        <area target="_blank"
                              alt="instagram"
                              title="instagram"
                              href="https://www.instagramcom/"
                              coords="121,46,25"
                              shape="circle" />
                        <area target="_blank"
                              alt="twitter"
                              title="twitter"
                              href="https://www.twitter.com/"
                              coords="195,46,25"
                              shape="circle" />
                        <area target="_blank"
                              alt="Tiktok"
                              title="Tiktok"
                              href="https://www.Tiktok.com/"
                              coords="267,45,22"
                              shape="circle" />
                        <area target="_blank"
                              alt="YouTube"
                              title="YouTube"
                              href="https://www.YouTube.com/"
                              coords="50,114,26"
                              shape="circle" />
                        <area target="_blank"
                              alt="Telegram"
                              title="Telegram"
                              href="https://www.Telegram.com/"
                              coords="121,113,23"
                              shape="circle" />
                        <area target="_blank"
                              alt="Whatsapp"
                              title="Whatsapp"
                              href="https://www.Whatsapp.com/"
                              coords="195,113,25"
                              shape="circle" />
                        <area target="_blank"
                              alt="Linkedin"
                              title="Linkedin"
                              href="https://www.Linkedin.com/"
                              coords="266,115,22"
                              shape="circle" />
                    </map>

                </div>
            </footer>
            <!-- End of Page Footer -->
        </div>
    </section>

    <!-- core  -->
    <script src="~/css/About/assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="~/css/About/assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
    <script src="~/css/About/assets/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Isotope -->
    <script src="~/css/About/assets/vendors/isotope/isotope.pkgd.js"></script>

    <!-- LeadMark js -->
    <script src="~/css/About/assets/js/leadmark.js"></script>

</body>
</html>
