@*@{
    ViewData["Title"] = "Home Page";
}
<partial name="_Navbar"/>*@
@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
@*@{
    Layout = "_Layout";
}*@
@*@{
    ViewData["Title"] = "Home Page";
}
<partial name="_Navbar"/>*@
@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
@*@{
    Layout = "_Layout";
}*@
<head>

  @*  <link rel="stylesheet" href="../wwwroot/css/" asp-append-version="true" />*@
@*    <link rel="stylesheet" href="/css/Home/index.css" asp-append-version="true">*@

    
    <!-- <title>Five Hotel</title> -->
    <link rel="stylesheet" href="~/css/Home/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Home/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/css/Home/css/style1.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Lobster+Two|Noto+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


</head>
@*<header>
    <h2 class="logo">Hotel ALA</h2>
    <nav class="navigation">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
        <a href="/Services/Index">Services</a>
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
        <a href="/Rooms/Index">Reserve</a>
        <a href="../wwwroot/css/fd/index.html">Oursservice</a>
         <a asp-area="" asp-controller="User" asp-action="SignUp" class="navbar-brand"class="btnLogin-popup">Logout</a>
    </nav>
</header>*@
<body>
    <style>
        .carousel-inner > .item > img, .carousel-inner > .item > a > img {
            display: block;
            height: auto;
            max-width: 100%;
            line-height: 1;
            width: 100%;
        }
    </style>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Image/bg3.jpg" height="820" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>BEAUTIFUL CORRIDOR WITH ROOM DOORS</h5>
                    <p>Just WALK CALMLY </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Image/bg5.jpg" height="820" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5> <strong>REFRESH YOUR MIND BY THE VIEW</strong></h5>
                    <p> TAKE A FRESH AIR  </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Image/bg4.jpg" height="820" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>SWIMMING IS SPORT</h5>
                    <p> RELAX AND JUST GO UNDER WATER </p>
                </div>
            </div>
           
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div>
        <h2>
            ALA HOTEL
        </h2>
    </div>
    </body>
    <p class="Papa">More Informations About ALA</p>


<div class="about lobster-font-family" style="background-image:url(~/css/Home/imgs/bg.jpg);">
    <div class="container">
        <h2 class="text-center text-capitalize" style="color:black;">About our hotel</h2>
       
        <div class="row">
            <div class="col-lg-6 col-12">
                <h4>A best place to enjoy your life</h4>
                <p style="color:black;">
                    Hotel ALA is located in the city centre, in Lisbon’s main business and shopping
                    district. This renovated 5 stars combines the art and tradition of hospitality with all
                    the facilities and services of an international unit. 303 Rooms and suites with
                    panoramic terrace, completely soundproof, comfortably decorated and well
                    equipped, guarantee a comfortable stay. The Hotel offers 2 Restaurants and 2 bars:
                    Grill D. Fernando with panoramic view, and the Coffee Shop Rendez-Vous. A
                    modern Business Centre, equipped with the latest technology, and wireless internet
                    access in all meeting rooms and public areas. To make your stay even more
                    enjoyable, the Altis offers a Health Club, heated Swimming pool, Shopping area,
                    hairdresser, 24 Hours Room Service, Laundry and parking.
                </p>
                <button><a href="#">Read more</a></button>
            </div>
            <div class="col-lg-6 col-12">
                <div class="img"></div>
            </div>
        </div>
        <h2 class="text-capitalize" id="room">rooms & suits</h2>
        <div class="row">

           


            <div class="col-lg-4 col-12">
                <div class="img"></div>
            </div>
            <img src="~/css/Home/imgs/shape.png">
        </div>
    </div>
</div>








<div class="slider main-font-family">
    <h2 class="text-center text-capitalize main-font-family">what our clients say</h2>
    <div id="slideToNext" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#slideToNext" data-slide-to="0" class="active"></li>
            <li data-target="#slideToNext" data-slide-to="1"></li>
            <li data-target="#slideToNext" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption d-block">
                    <img src="~/css/Home/imgs/pic7.jpg">
                    <h5>jone due</h5>
                    <p>
                        It is a long established fact that a reader wil
                        l be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-block">
                    <img src="~/css/Home/imgs/pic7.png">
                    <h5>Meklit</h5>
                    <p>
                        It is a long established fact that a reader wil
                        l be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-block">
                    <img src="~/css/Home/imgs/pic7.png">
                    <h5>Michael</h5>
                    <p>
                        It is a long established fact that a reader wil
                        l be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>






<footer class="noto-font-family">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <h3>Find us</h3>
                    <p>
                        HIlcoe School of Technology and Computer Science, Abrihot Library,<br>
                        Addis Ababa, Ethiopia<br>
                        (+251) 911767757<br>
                        (+251) 910788018 <br>
                        ALAHotel@gmail.com
                    </p>
                </div>




            </div>
        </div>
    </div>
</footer>

<div class="copyright noto-font-family">
    <p>© 2023 All Rights Reserved. Design by <a href="https://html.design/"></a></p>
</div>

<script src="~/css/Home/js/jquery-3.3.1.min.js"></script>
<script src="~/css/Home/js/bootstrap.min.js"></script>
<script>
    $(function () {

        'use strict';

        var winH = $(window).height();

        $('header').height(winH);

        $('.navbar ul.navbar-nav li a').on('click', function (e) {

            var getAttr = $(this).attr('href');

            e.preventDefault();
            $('html').animate({ scrollTop: $(getAttr).offset().top }, 1000);
        });
    });
</script>


























































































  @*  <img src="/Image/rs.jpg" class="mt-4" width="800" height="750"/>*@
    @*  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootsrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
</body>*@



  













































































































































































<footer>

   @* <div class="container">
            &copy; 2023 - Hotel - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>*@
    <hr />

    <p class="SM">We are on social media</p>

    <img src="~/Image/hs.png" usemap="#image-map">

    <map name="image-map">
        <area target="_blank" alt="facebook" title="facebook" href="https://www.facebook.com/" coords="50,46,26" shape="circle">
        <area target="_blank" alt="instagram" title="instagram" href="https://www.instagramcom/" coords="121,46,25" shape="circle">
        <area target="_blank" alt="twitter" title="twitter" href="https://www.twitter.com/" coords="195,46,25" shape="circle">
        <area target="_blank" alt="Tiktok" title="Tiktok" href="https://www.Tiktok.com/" coords="267,45,22" shape="circle">
        <area target="_blank" alt="YouTube" title="YouTube" href="https://www.YouTube.com/" coords="50,114,26" shape="circle">
        <area target="_blank" alt="Telegram" title="Telegram" href="https://www.Telegram.com/" coords="121,113,23" shape="circle">
        <area target="_blank" alt="Whatsapp" title="Whatsapp" href="https://www.Whatsapp.com/" coords="195,113,25" shape="circle">
        <area target="_blank" alt="Linkedin" title="Linkedin" href="https://www.Linkedin.com/" coords="266,115,22" shape="circle">
    </map>
</footer>
