
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Hotel.styles.css" asp-append-version="true" />

</head>
<body >
    <form class="d-flex" role="search">
        <button asp-controller="RoomServiceUs" asp-action="Create" class="btn  col-lg-4">
            <div class="col-md-4">
                <div class="card mb-4 shadow-lg shadow-danger" style="width: 18rem;">
                    <img src="~/Image/h3.jpg" width="80" height="250" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Regular Size Room</h5>
                        <p>Suitable for individuals, if you are staying alone.</p>
                        <div class="btn-group">
                            <a  class="btn btn-sm btn-outline-danger">Book Now </a>
                        </div>
                    </div>
                </div>
            </div>
        </button>


        <button asp-controller="RoomServiceUs" asp-action="Create" class="btn  col-lg-4">
            <div class="col-md-4">
                <div class="card mb-4 shadow-lg shadow-danger" style="width: 18rem;">
                    <img src="~/Image/h6.jpg" width="80" height="250" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ween Size Room</h5>
                        <p>This bed accomidates couples very comfortablly, it is usually recommended if you are not alone</p>
                        <div class="btn-group">
                            <a  class="btn btn-sm btn-outline-danger">Book Now </a>
                        </div>
                    </div>
                </div>
            </div>
        </button>


        <button asp-controller="RoomServiceUs" asp-action="Create" class="btn  col-lg-4">
            <div class="col-md-4">
                <div class="card mb-4 shadow-lg shadow-danger" style="width: 18rem;">
                    <img src="~/Image/1.jpg" width="80" height="250" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">King Size Room</h5>
                        <p>Our King Size bedroom is for special occations that may be pricy but the service is amazing</p>
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-danger">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </button>

        <button asp-controller="RoomServiceUs" asp-action="Create" class="btn  col-lg-4">
            <div class="col-md-4">
                <div class="card mb-4 shadow-lg shadow-danger" style="width: 18rem;">
                    <img src="~/Image/h4.jpg" width="80" height="250" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Twin Bedrooms</h5>
                        <div class="btn-group">
                            <a  class="btn btn-sm btn-outline-danger">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </button>


    </form>
    <form class="d-flex" role="search">
        <button asp-controller="RoomServiceUs" asp-action="Create" class="btn  col-lg-4">
            <div class="col-md-4">
                <div class="card mb-4 shadow-lg shadow-danger" style="width: 18rem;">
                    <img src="~/Image/h3.jpg" width="80" height="250" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Single Beds</h5>
                        <p>Suitable for individuals, if you are staying alone.</p>
                        <div class="btn-group">
                            <a  class="btn btn-sm btn-outline-danger">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </button>


        <button asp-controller="RoomServiceUs" asp-action="Create" class="btn  col-lg-4">
            <div class="col-md-4">
                <div class="card mb-4 shadow-lg shadow-danger" style="width: 18rem;">
                    <img src="~/Image/h6.jpg" width="80" height="250" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">XL Size Bedrooms</h5>
                        <p>This bed accomidates everyone comfortablly, it is usually recommended for families</p>
                        <div class="btn-group">
                            <a  class="btn btn-sm btn-outline-danger">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </button>


        <button asp-controller="RoomServiceUs" asp-action="Create" class="btn  col-lg-4">
            <div class="col-md-4">
                <div class="card mb-4 shadow-lg shadow-danger" style="width: 18rem;">
                    <img src="~/Image/1.jpg" width="80" height="250" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Deluxe Bedrooms</h5>
                        <p>Our Deluxe bedroom is for celebrities and high status personels</p>
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-danger">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </button>

        <button asp-controller="RoomServiceUs" asp-action="Create" class="btn  col-lg-4">
            <div class="col-md-4">
                <div class="card mb-4 shadow-lg shadow-danger" style="width: 18rem;">
                    <img src="~/Image/h4.jpg" width="80" height="250" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Double Bedrooms</h5>
                        <p>If your traviling with friends and collegues, this is an affordable choice.</p>
                        <div class="btn-group">
                            <a  class="btn btn-sm btn-outline-danger">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </button>


    </form>

</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/bootsrap.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

<script src="~/js/site.js" asp-append-version="true"></script>