@model Hotel.Models.SignUpModel;
<!DOCTYPE html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/css/Registration/Reg.css">
</head>
<body>
   @* <header>
        <h2 class="logo">Car rental</h2>
        <nav class="navigation">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Service</a>
            <a href="#">Contact</a>
            <button class="btnLogin-popup">Login</button>
        </nav>
    </header>*@

    <div class="wrapper">
        <div class="form-box login">
            <h2>Login</h2>
            <form asp-action="SignUp" method="post">
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="accessibility"></ion-icon>
                    </span>
                    <input type="text" asp-for="FirstName" required>
                    <label>First Name</label>
                    <span class="text-danger" asp-validation-for="FirstName"></span>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="accessibility"></ion-icon>
                    </span>
                    <input type="text" asp-for="LastName" required>
                    <label>Last Name</label>
                    <span class="text-danger" asp-validation-for="LastName"></span>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <input type="email" asp-for="Email" required>
                    <label>Email</label>

                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="person-circle"></ion-icon>
                    </span>
                    <input type="text" asp-for="Username" required>
                    <label>Username</label>
                    <span class="text-danger" asp-validation-for="Username"></span>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type="password" asp-for="Password" required>

                    <label>Password</label>
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type="password" asp-for="ConfirmPassword" required>
                    <label>Confirm Password</label>
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
             @*   <div class="image">
                    <img id="uploadPreview1" />
                    <input id="uploadImage1" type="file" name="myPhoto" onchange="PreviewImage1();" />
                </div>
                <div class="image">
                    <img id="uploadPreview2" />
                    <input id="uploadImage2" type="file" name="myPhoto" onchange="PreviewImage2();" />
                </div>*@

                <button type="submit" class="btn" >Register</button>
               @* <button id="Register" type="submit" class="btn">Register</button>*@
                <div class="login-register">
                    <p>Have an account?<a href="/User/LogIn" class="register-link"> Login</a></p>
                </div>
            </form>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>