@{
    Layout = null;
}


@*@model Hotel.Models.RoomServiceU

@{
    ViewData["Title"] = "Create";
}
<body style=" background-image: url('')" ; background-attachment:fixed;>

    <h1>Create</h1>


<h4>RoomServiceU</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoomId" class="control-label"></label>
                <input asp-for="RoomId" class="form-control"/>
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomDescription" class="control-label"></label>
                <input asp-for="RoomDescription" class="form-control" />
                <span asp-validation-for="RoomDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomPrice" class="control-label"></label>
                <input asp-for="RoomPrice" class="form-control" />
                <span asp-validation-for="RoomPrice" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="checkin" class="control-label"></label>
                <input asp-for="checkin" class="form-control" />
                <span asp-validation-for="checkin" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="checkout" class="control-label"></label>
                <input asp-for="checkout" class="form-control" />
                <span asp-validation-for="checkout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Reserve" class="btn btn-primary" />
                    <input type="submit" value="Pay " class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Room">Back to List</a>
       
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body> *@



@model Hotel.Models.RoomServiceU


@*@{
    ViewData["Title"] = "Create";
}*@


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Room Services</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap" rel="stylesheet">

    <link href="~/css/user/user/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/css/user/user/css/bootstrap-icons.css" rel="stylesheet">

    <link href="~/css/user/user/css/user.css" rel="stylesheet">


</head>

<body>

    <main>

        <header class="site-header">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12 d-flex flex-wrap">
                        <p class="d-flex me-4 mb-0">

                            <strong class="text-dark">Room Services</strong>
                        </p>
                    </div>

                </div>
            </div>
        </header>



        <section class="ticket-section section-padding">
            <div class="section-overlay"></div>

            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-10 mx-auto">
                        <form asp-action="Create" class="custom-form ticket-form mb-5 mb-lg-0" >
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <h2 class="text-center mb-4">Please enter your room description</h2>

                            <div class="ticket-form-body">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <h6>Room Id</h6>
                                        <input asp-for="RoomId" type="text" name="ticket-form-name" id="ticket-form-name" class="form-control" placeholder="RoomId" required>
                                        <span asp-validation-for="RoomId" class="text-danger"></span>
                                    </div>

                                    
                                   <div class="form-group">
                                        <h6>Room Description</h6>
                                        <label asp-for="RoomDescription" class="control-label" id="ticket-form-email"></label>
                                        <input asp-for="RoomDescription" class="form-control" placeholder="RoomDescription" />
                                        <span asp-validation-for="RoomDescription" class="text-danger"></span>
                                    </div>


                                    <div class="form-group">
                                        <label asp-for="RoomPrice" class="control-label" id="ticket-form-email" ></label>
                                        <input asp-for="RoomPrice" class="form-control" placeholder="RoomPrice" />
                                        <span asp-validation-for="RoomPrice" class="text-danger"></span>
                                    </div>


                                   @* <div class="col-lg-6 col-md-6 col-12">
                                        <input asp-for="RoomDescription" name="ticket-form-email" id="ticket-form-email" class="form-control" placeholder="RoomDescription">
                                        <span asp-validation-for="RoomDescription" class="text-danger"></span>
                                    </div>*@



                                
                               @*<div class="col-lg-6 col-md-6 col-12">
                                    <h6>Room Price</h6>
                                    <input asp-for="RoomPrice" class="form-control" name="ticket-form-phone" placeholder="RoomPrice">
                                    <span asp-validation-for="RoomPrice" class="text-danger"></span>
                                </div>*@

                                <div class="col-lg-6 col-md-6 col-12">
                                    <h6>Check in</h6>


                                    <label asp-for="checkin" class="control-label"></label>
                                    <input asp-for="checkin" class="form-control">
                                    <span asp-validation-for="checkin" class="text-danger"></span>

                                    
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <br>

                                
                                    
                                    <h6>Check out</h6>
                                    <label asp-for="checkout" class="control-label"></label>
                                    <input asp-for="checkout" class="form-control">
                                    <span asp-validation-for="checkout" class="text-danger"></span>
                                </div>
                                </div>
                                <div class="col-lg-4 col-md-10 col-8 mx-auto">
                                    <button class="form-control"><a href="http://checkout.chapa.co/checkout/web/payment/SC-jPEVwT0LA8n1"></a>Pay</button>
                                    <input type="submit" value="Reserve" class="btn btn-primary" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
                    <a asp-action="Index">Back to List</a>
                </div>

        </section>
    </main>


    <footer class="site-footer">

        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-12 mt-5">
                        <p class="copyright-text">© ALA Hotel</p>
                    </div>

                    <div class="col-lg-8 col-12 mt-lg-5">
                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Terms &amp; Conditions</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Privacy</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

</body>
</html>

<!-- JAVASCRIPT FILES -->
<script src="~/css/user/user/js/jquery.min.js"></script>
<script src="~/css/user/user/js/bootstrap.min.js"></script>
<script src="~/css/user/user/js/jquery.sticky.js"></script>
<script src="~/css/user/user/js/custom.js"></script>








